#artists-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 1.2em;
    grid-row-gap: 2em;
    margin-top: 2.2em;
}

.artist {
    display: block;
    font-size: 1.3em;
    color: var(--color-secondary);
    font-weight: 700;
    word-break: break-word;
}

.artist:hover {
    text-decoration: underline 3px;
    color: var(--color-third);
}

.artist img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.main-buttons {
    display: flex;
    justify-content: space-between;
}

.favorites {
    position: fixed;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: clamp(20vw, 50vw, 75vw);
    min-width: 300px;
    overflow-y: auto;
    backdrop-filter: blur(5px);
}

@media (max-width:770px) {
    .favorites {
        width: clamp(70vw, 90vw, 100vw);
    }

    #artists-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.favorites h2 {
    margin-top: 0em;
}

.favorites #artists-container {
    margin-top: 1em;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.slide-in-left {
    animation: slideInFromLeft 0.3s ease-out forwards;
    opacity: 0;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.favorite-songs {
    margin-top: 0.75em;
    display: block;
    align-items: center;
}

.favorite-song {
    display: flex;
    margin: 0.5em 0;
    font-weight: 700;
    font-size: 1.3em;
    gap: 0.7em;
    align-items: center;
}

.favorite-song img {
    height: 3em;
    display: block;
}

.favorite-song h3 {
    margin: 0;
}

.favorite-song #album-artists {
    margin: 0;
    font-weight: 500;
    font-size: 0.7em;
}

.favorite-song a {
    color: var(--color-secondary);
}

.favorite-song a:hover {
    text-decoration: underline 3px;
    color: var(--color-third);
}

.favorite-song:has(> a > img:hover) .song-details > a {
  text-decoration: underline 3px var(--color-third);
  color: var(--color-third)
}