#login-container {
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}

#login input {
    width: 100%;
    margin-bottom: 1em;
}

label {
    font-size: 1.5rem;
    display: block;
    font-weight: 600;
}